body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.user_profile_ctn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F5F5F5;
}
.user_profile_ctn > h3{
  font-size: 1em;
}
.user_profile_ctn > h2{
  font-size: 1.5em;
}


.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

header {
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

header h1 {
  margin: 0;
}

.building {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.building:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.building h2 {
  margin: 0 0 20px;
  font-size: 1.5rem;
  color: #343a40;
}

.rooms {
  display: none;
  margin-top: 25px; /* Increased space above rooms */
  margin-bottom: 25px; /* Added space below rooms */
}

.room {
  background: #e9ecef;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-info {
  display: flex;
  flex-direction: column;
}

.room-name {
  font-weight: bold;
}

.room-floor {
  font-size: 0.9em;
  color: #6c757d;
}

.icon-container {
  display: flex;
  align-items: center;
}

button {
  display: block;
  margin-top: 10px;
  margin-bottom: 25px; /* Add space below button */
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #218838;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
  font-size: 1.2rem;
  transition: opacity 0.3s ease;
}

.delete-icon {
  color: #dc3545;
  margin-left: 10px;
}

.edit-icon {
  color: #007bff;
}

.room:hover .delete-icon,
.room:hover .edit-icon {
  opacity: 1;
}

.delete-icon:hover {
  color: #c82333;
}

.edit-icon:hover {
  color: #0056b3;
}

.building-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#saveButton {
  background-color: #28a745;
  color: white;
}

#cancelButton {
  background-color: #dc3545;
  color: white;
}

.floor h3 {
  margin-top: 35px; /* Added space above floor title */
  margin-bottom: 25px; /* Added space below floor title */
  font-weight: bold;
}

